[submodule "zsh/.zsh_plugins/zsh-vi-mode"]
	path = zsh/.zsh_plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/.config/tmux/plugins/tmux-sensible"]
	path = tmux/.config/tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "zsh/.zsh_plugins/zsh-vi-mode"]
	path = zsh/.zsh_plugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule "ghostty/.config/ghostty/shaders"]
	path = ghostty/.config/ghostty/shaders
	url = https://github.com/0xhckr/ghostty-shaders
[submodule "ghostty/.config/ghostty/cursor_shaders"]
	path = ghostty/.config/ghostty/cursor_shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders
[submodule "starship/marathon"]
	path = starship/marathon
	url = https://github.com/arxae/starship-marathon
[submodule "starship/rose-pine"]
	path = starship/rose-pine
	url = https://github.com/rose-pine/starship
